<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>qiehuan</string>
		<key>title</key>
		<string>切换360</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>GZMyCollectionViewController</string>
		<key>icon</key>
		<string>jifen_</string>
		<key>title</key>
		<string>我的积分</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>liuxiang_</string>
		<key>title</key>
		<string>流向绩效</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>xiaoxi_</string>
		<key>title</key>
		<string>我的消息</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>yishengquan_</string>
		<key>title</key>
		<string>医生圈</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>GZReceivingAddressViewController</string>
		<key>icon</key>
		<string>erweima_</string>
		<key>title</key>
		<string>分享APP</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>GZModifyPasswordViewController</string>
		<key>icon</key>
		<string>xiugaimima_</string>
		<key>title</key>
		<string>修改密码</string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>icon</key>
		<string>fankui_</string>
		<key>title</key>
		<string>意见反馈</string>
	</dict>
</array>
</plist>
